*{
    margin: 0px;
    padding: 0px;
}

body {
    display: flex; 
    background-color: black;
    height: 100%;
    flex-direction: column;
}


  

#header {
    display: flex;
    border: 2px solid yellow;
    flex-direction: row;
    align-items: flex-end;
    height: 20vh;
    justify-content: center;
}   

#navigation {
    display: flex;
    border: 2px solid red;
    align-items: center;
}

#navigation > button {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    width: auto;
    font-size: 2em;
    margin: 0vh 5vh 0vh 5vh;
    background-color: black;
    border: none;
    color: white;
    position: relative;
    text-decoration: none;
}

#navigation > button::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scaleX(0);
}

#navigation > button:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}


#content {
    display: flex;
    border: 2px solid blue;
    height: 100vh;
    justify-content: center;;
    align-items: center;
}

#content-wrapper {
    height: 100%;
    width: 70%;
    border: 2px solid green;

}

#footer {
    border: 2px solid yellow;
    height: 15vh;
}